<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>Select Design Preference</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="app-title">ChooseMyHenna</div>
        <h1>Select Your Design Preference</h1>
        <form id="preferenceForm" action="{{ url_for('result') }}" method="post">
            <button type="submit" name="preference" value="geometric">Geometric</button>
            <button type="submit" name="preference" value="floral">Floral</button>
            <button type="button" onclick="submitRandom()">Random</button>
        </form>
    </div>
    <footer>
        &copy; 2024 ChooseMyHenna. All rights reserved.
    </footer>
    <script src="../static/scripts/script.js"></script>
</body>
</html>
